# This file is a part of the UMSKT Project
#
# Copyleft (C) 2019-2023 UMSKT Contributors (et.al.)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# @FileCreated by TheTank20 on 06/13/2023
# @Maintainer Neo

name: C/C++ CI (Windows)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-32bit:
    runs-on: windows-latest
    steps:
    
      - name: Install MSVC 2005
        run: |
          mkdir D:\_temp
          cd D:\_temp
          Invoke-WebRequest -URI https://7-zip.org/a/7z2301-x64.exe -OutFile 7zip.exe
          ./7zip.exe /S
          git clone https://github.com/thepwrtank18/msvc2005.git
          Get-Item -Path D:\_temp\msvc2005\*.* | Move-Item -Destination D:\_temp
          Remove-Item D:\_temp\msvc2005 -Force -Recurse
          dir D:\_temp
          7z x D:\_temp\vs2005_installer.zip.* -oD:\_temp\vs2005_installer
          dir D:\_temp
          Start-Process -Wait D:\_temp\vs2005_installer\setup.exe -PassThru -NoNewWindow -ArgumentList /UnattendFile,D:\_temp\vs2005_std_unattend.ini,/qb,/norestart; Write-Host Return Code: $?;
          
      - name: Install v141_xp
        uses: thepwrtank18/install-vs-components@v1.0.0
        with:
          components: Microsoft.VisualStudio.Component.WinXP

      - name: Download And Install 32-bit OpenSSL 3.1.1
        run: |
          $installDir = "$Env:ProgramFiles\OpenSSL"
          $installerURL = "https://slproweb.com/download/Win32OpenSSL-3_1_1.exe"
          $installerName = "Win32OpenSSL-3_1_1.exe"
          $installerPath = Join-Path -Path "${env:Temp}" -ChildPath "$installerName"

          (New-Object System.Net.WebClient).DownloadFile($installerURL, $installerPath)
          
          Remove-Item "$installDir" -Force -Recurse
          $installerArgs = '/silent', '/sp-', '/suppressmsgboxes', "/DIR=`"$installDir`""
          Start-Process -FilePath $installerPath -ArgumentList $installerArgs -Wait -PassThru

      - name: Checkout Source Tree
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Configure UMSKT
        uses: threeal/cmake-action@v1.2.0
        with:
          working-directory: build
          generator: "Visual Studio 17 2022"
          options: CMAKE_SYSTEM_VERSION="5.1.2600"
          args: -A "Win32" -T v141_xp

      - name: Build UMSKT
        working-directory: build
        run: msbuild ALL_BUILD.vcxproj /P:Configuration=Release /P:XPDeprecationWarning=false

      - name: Upload build artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: UMSKT-Win32
          path: build/Release

  build-64bit:
    runs-on: windows-latest
    steps:
      - name: Install v141_xp
        uses: thepwrtank18/install-vs-components@v1.0.0
        with:
          components: Microsoft.VisualStudio.Component.WinXP
          
      - name: Download And Install 64-bit OpenSSL 3.1.1
        run: |
          $installDir = "$Env:ProgramFiles\OpenSSL"
          $installerURL = "https://slproweb.com/download/Win64OpenSSL-3_1_1.exe"
          $installerName = "Win64OpenSSL-3_1_1.exe"
          $installerPath = Join-Path -Path "${env:Temp}" -ChildPath "$installerName"

          (New-Object System.Net.WebClient).DownloadFile($installerURL, $installerPath)
          
          Remove-Item "$installDir" -Force -Recurse
          $installerArgs = '/silent', '/sp-', '/suppressmsgboxes', "/DIR=`"$installDir`""
          Start-Process -FilePath $installerPath -ArgumentList $installerArgs -Wait -PassThru

      - name: Checkout Source Tree
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Configure UMSKT
        uses: threeal/cmake-action@v1.2.0
        with:
          generator: "Visual Studio 17 2022"
          args: -A "x64" -T v141_xp

      - name: Build UMSKT
        working-directory: build
        run: msbuild ALL_BUILD.vcxproj /P:Configuration=Release /P:XPDeprecationWarning=false

      - name: Upload build artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: UMSKT-Win64
          path: build/Release
